<?xml version="1.0"?>

<model>
  <name>Mini-Project Random Cylinder World</name>
  <version>1.0</version>
  <sdf version="1.0">model.sdf</sdf>  

  <author>
    <name>Nicholas Kastanos</name>
    <email>nk569@cam.ac.uk</email>
  </author>

  <description>
    Simple world for training a RL agent
  </description>
</model>
